<html>
 <head>
   <title>
     Other Page
   </title>
 </head>
 <meta name="viewport" content="width=device-width" />
 <iframe src="http://www.corp.google.com/~mudge/ie9/iframe.html"></iframe>
 <body>
   <div onclick="openChild()">Click this to open</div>
 </body>
 <script type="text/javascript">
 function openChild(){
   window.open("http://www.corp.google.com/~mudge/ie9/dir/popup.html", "Window2", "width=310,height=600,scrollbars=yes");
 }
 </script>
</html>