<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="alternate" type="application/atom+xml" title="My Weblog feed" href="/feed/" />
    <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab|Londrina+Outline|Francois+One|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <title>lijentan.com</title>

    <style>
    body{font-family:'Arbutus Slab', serif;background-position:top center;background-repeat:repeat;margin:0;width:100%}a,a:visited{text-decoration:none;color:#000000}p{margin:0 0 15px}ul{margin-top:0;margin-bottom:15px}h3{margin:10px 0}h4,h5,h6{margin:5px 0}header#main{background-image:url(headers/header2.jpg);background-attachment:fixed;background-size:cover;background-repeat:no-repeat;background-position:50% 0;width:100%;height:580px;margin:0;padding:0}header#main hgroup{font-family:'Londrina Outline', cursive;font-weight:normal;margin-left:20px}header#main hgroup h1{font-size:160px;margin:0 auto;color:#fff}header#main hgroup h2{font-size:100px;margin-top:10px;width:700px;color:#f7f7f7}nav{position:fixed;right:20px;top:10px}nav ul{font-family:'Open Sans Condensed', Arial, Arial, Helvetica, sans-serif}nav ul li{list-style-type:none}nav ul li a{display:block;float:right}nav ul li a.title{margin-right:10px;font-size:16px;text-shadow:0.1em 0 0 #868585}nav ul li a.bullet{clear:both;width:37px;height:20px;font-size:15px;text-align:center;vertical-align:middle;background-color:rgba(173,169,169,0.75);color:#666666;box-shadow:1px 1px 1px #000000}nav ul li:first-child a.bullet{border-top-left-radius:5px;border-top-right-radius:5px}nav ul li:last-child a.bullet{border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-bottom:none}nav ul li a.bullet:hover{color:#000}nav ul li.current a.bullet,nav ul li.hover a.bullet{color:#000}article{padding:30px 0 40px 0;margin:0 auto;width:100%;min-height:500px}article header{text-align:center;margin:0 auto 0;width:750px}article header h1{padding:0 10px 0 0;margin-bottom:-3px}article header time{display:block;color:#a1a1a1;width:750px;margin:0 auto;padding:0 0 10px 0;text-align:right;border-top:solid 1px #a1a1a1}article .body{margin:0 auto;width:750px;text-align:justify;padding:0 30px}article .images{margin:30px auto 10px;width:80%;text-align:center;}article .images img{margin:0px;width:auto;height:auto;max-height:200px;margin-bottom:10px}article.midground{background:url(layout/divider-midground-top.png) repeat-x center top,url(layout/divider-midground-bottom.png) repeat-x center bottom,#ece5e5;color:#000;text-shadow:1px 1px 0.1em #fff}article.midground time{color:#868585;border-color:#868585}article.midground a{color:#566de6}article.foreground{background:url(layout/divider-foreground-top.png) repeat-x center top,url(layout/divider-foreground-bottom.png) repeat-x center bottom,#fff;color:#000;text-shadow:1px 1px 0.1em #fff}article.foreground time{border-color:#000}article.foreground a{color:#566de6}article.background{background:url(layout/divider-background-top.png) repeat-x center top,url(layout/divider-background-bottom.png) repeat-x center bottom,#333;color:#fdfdfd;text-shadow:1px 1px 0.1em #000}article.background a{color:#a1a1a1}article.background time{border-color:#fdfdfd}article.notes header{width:960px}article.notes header time{width:960px}article.two-column-text div.body{-moz-column-count:2;-webkit-column-count:2;column-count:2;-moz-column-gap:35px;-webkit-column-gap:35px;column-gap:35px}article.notes div.body{width:960px}article.notes div.body blockquote,article.single-column-text div.body blockquote{margin-top:25px;padding:0 120px;position:relative;font-style:italic;min-height:70px}article.notes div.body blockquote:before,article.single-column-text div.body blockquote:before{display:block;content:"\201C";font-size:120px;position:absolute;left:22px;top:-12px;color:#A1A1A1}article.quote figure.quote-big{font-family:'Francois One', sans-serif;font-style:italic;letter-spacing:-3px;word-spacing:-3px;text-align:center;text-shadow:none}article.quote figure.quote-big blockquote{display:inline;font-size:200px;line-height:200px;margin-top:50px}article.quote figure.quote-big figcaption{display:inline;font-size:75px;line-height:75px;margin:0}article.foreground.quote{color:#000}article.midground.quote{color:#000}article.background.quote{color:#fdfdfd}article.two-column-text div.body img{display:block;margin:10px auto;max-width:350px;box-shadow:2px 2px 0.1em #A1A1A1}article.two-column-text.background div.body img{box-shadow:2px 2px 0.1em #000000}article.album div.images img{max-height:150px}.CodeRay{display:block;border-radius:5px;box-shadow:2px 2px 0 #A1A1A1;background-color:#232323;font-family:'Courier New', 'Terminal', monospace;color:#E6E0DB;padding:3px 5px;overflow:auto;font-size:12px;margin:12px 0;text-shadow:none}.CodeRay pre{margin:0px;padding:0px}table.CodeRay{border-collapse:collapse;width:100%;padding:2px}table.CodeRay td{padding:1em 0.5em;vertical-align:top}.CodeRay .line-numbers,.CodeRay .no{background-color:#5A5353;color:#AAA;text-align:right;border-radius:5px}.CodeRay .line-numbers a{color:#000000}.CodeRay .line-numbers tt{font-weight:bold}.CodeRay .line-numbers .highlighted{color:red}.CodeRay .an{color:#E7BE69}.CodeRay .c{color:#BC9358;font-style:italic}.CodeRay .ch{color:#509E4F}.CodeRay .cl{color:#FFF}.CodeRay .co{color:#FFF}.CodeRay .gv{color:#D0CFFE}.CodeRay .i{color:#A4C260}.CodeRay .il{background:#151515}.CodeRay .iv{color:#D0CFFE}.CodeRay .pp{color:#E7BE69}.CodeRay .rx{color:#A4C260}.CodeRay .s{color:#A4C260}.CodeRay .sy{color:#6C9CBD}.CodeRay .ta{color:#E7BE69}.CodeRay .pc{color:#6C9CBD}.CodeRay .tag{color:#070}.CodeRay .keyword{color:#CB7832}.CodeRay .function{color:#FFC56D}.CodeRay .tag-special{color:#D70;font-weight:bold}.CodeRay .type{color:#339;font-weight:bold}.CodeRay .regexp .function{color:#404;font-weight:bold}.CodeRay .regexp .content{color:#808}.CodeRay .regexp .delimiter{color:#404}.CodeRay .float{color:#A4C260}

    .polaraid {
      background-color: #fff;
      padding: 10px 10px 60px;
      box-shadow: 2px 2px 0 #A1A1A1;
      max-width: 320px;
      border: 1px solid black;
    }
    .polaraid.active {
      transform: rotate(15deg);
      -ms-transform: rotate(15deg); /* IE 9 */
      -webkit-transform: rotate(15deg); /* Safari and Chrome */
      -o-transform: rotate(15deg); /* Opera */
      -moz-transform: rotate(15deg); /* Firefox */
    }
    article .images .polaraid img {
      max-width: 300px;
      max-height: 300px;
    }
    .series-img {
      position: absolute;
    }
    </style>
  </head>
  <body>
    <article id="post-21" class="series foreground bg-fixed">
      <header>
        <h1>Object In Nature - Session 5</h1>
        <time datetime="2012-10-18 15:10:00" pubdate="">October 18, 2012</time>
      </header>
      <div class="body"><p>This week I focused on adding more details and final colors. I've generally been struggling with making the painting bright enough, so I tried lightening up the colors a bit and tried to get more contrast in there</p>
      </div>
      <div class="images" style="position: relative;">
        <div class="polaraid first series-img" style="z-index:4;">
          <img alt="Painting-5" src="http://dl.dropbox.com/u/4893047/posts/painting/painting-5.jpg">
        </div>
        <div class="polaraid series-img" style="z-index:3; left: 10%;">
          <img alt="Painting-5" src="http://dl.dropbox.com/u/4893047/posts/painting/painting-5.jpg">
        </div>
        <div class="polaraid series-img" style="z-index:2; left: 20%;">
          <img alt="Painting-5" src="http://dl.dropbox.com/u/4893047/posts/painting/painting-5.jpg">
        </div>
        <div class="polaraid series-img" style="z-index:1; left: 30%;">
          <img alt="Painting-5" src="http://dl.dropbox.com/u/4893047/posts/painting/painting-5.jpg">
        </div>
      </div>
    </article>
  </body>
  <footer></footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>
    $(".polaraid:not(.first)").hover(function() {
      $(this).addClass("active");
    }, function() {
      $(this).removeClass("active");
    });
  </script>
</html>
